
html{
  height:100%;
}

body{

background: url(./../images/test1.png);
  background-size:cover;
  background-position:center;
}

h1{
  font-family: 'DM Serif Display', serif;
  text-shadow: 2px 2px #111;
}

h1:hover{
  color: red;
  cursor: default;
}
h1,h2,h3,h4,h5,h6,p{
  cursor: default;
}

h3{
  padding:20px;
  font-family: 'DM Serif Display', serif;
}

.title-section{
  background-color: #333;
  color:white;
  padding:10px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 1px 0 #222;
}



.container{
  width:80%;
  max-width: 960px;
  padding:10px 10px 10px 10px;
  padding-bottom:5px;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:20px;

}

.namePlate{
  }


.namePlate p{
  background-color:rgba(51, 51, 51, .75);
  color:white;
  font-weight: bold;
  padding:5px;
  margin-top:205px;
}

.score{

}

.wins{
  background-color: #f4f4f4;

  width:40%;
  float:left;
  border: 10px solid #333;
}

.losses{

  background-color: #f4f4f4;

  width:40%;
  float:right;
  border:10px solid #333;

}



#enemy{
  clear:both;
  display: inline-block;
  margin:0;
}
#player{
  display:inline-block;
  margin:0;
}
#stats{
  max-width: 200px;
  margin:0;
  font-size:
}

.champSelect{
  background-color:#f4f4f4;
  position:relative;
  height:fill;
}

.charactersSection{
  background-color:#f4f4f4;
  position: relative;
}

.heroSelection{
  background-color:l#f4f4f4;
}


.heroTile{
  background-color:#888;
  border: 1px solid #333;
  width:250px;
  height:250px;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  margin:5px;
}

.chosenTile{

  background-color:#888;
  border: 1px solid #f4f4f4;
  width:250px;
  height:250px;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  margin:5px;
  pointer-events: none;

}

.tempEnemy{

  background-color:#888;
  border: 1px solid #f4f4f4;
  width:250px;
  height:250px;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  margin:5px;
  pointer-events: none;

}

.activeEnemy{
  background-color:#888;
  border: 1px solid #f4f4f4;
  width:250px;
  height:250px;
  display:inline-block;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  margin:5px;

}

.stats{
  color:black;
}

.rowClassLose{
  background-color: #f4f4f4;
  margin:10px;
}

.fightStats{
  width:200px;
  height:200px;
  border:1px solid black;
  margin-top:50px;
  font-size: 16px;
  color:#333;
}

.game-title{
  background-color:#f4f4f4;
}

.confirm-button{
  margin:20px;
}

.tempDisplay{
  height:300px;
}

.playersHero{
  float:left;
  position:relative;
  margin-left:20px;
  ;
}

.playersEnemies{
  float:right;
  position:relative;
}

.gameDisplay{
  clear: both;
  height:;
  pointer-events: none;
}

.game-area{
  background-color: #333;
}




.battleDisplau .tempEnemy{
  float:right;
}

#Aiden{
  background: url(./../images/AidenTile.png)
}

#Lin{
  background: url(./../images/LinTile.png)
}

#Saya{
  background: url(./../images/SayaTile.png)
}

#Star{
  background: url(./../images/StarTile.png)
}
#Nyx{
  background: url(./../images/NyxTile.png)
}
#Boggs{
  background: url(./../images/BoggsTile.png)
}
#Hinata{
  background: url(./../images/HinataTile.png)
}
#Kov{
  background: url(./../images/KovTile.png)
}
